<i class="fs-4 bi-twitter"></i>
<h1>
    Welcome to Tweelone
</h1>
<h3>
    Join twitter today
</h3>
<%= link_to "Sign up with email", signup_path, class: "btn btn-primary rounded-pill" %>
<h4>
    Already have an account?
</h4>
<%= link_to "Sign in", login_path, class: "btn btn-outline-secondary rounded-pill" %>
